{% extends "header.html" %}

{% block body %}
    <button id="back">&#xf060;</button>
    <div class="fiets-wrapper">

        <div class="fiets-foto">
            {% if result.Foto != None or result.Foto|length == 0 %}
            <img src="/static/img/fietsen/{{result.Foto}}"/>
            {% else %}
            <img src="/static/img/default.png"/>
            {% endif %}
        </div>

        <div class="fiets-item">
            <table>
                <tr>
                    <td class="static-col">Nummer:</td>
                    <td class="data-col">{{ result.Nummer }}</td>
                </tr>
                <tr>
                    <td class="static-col">Merk:</td>
                    <td class="data-col">{{ result.Merk }}</td>
                </tr>
                <tr>
                    <td class="static-col">Frametype:</td>
                    <td class="data-col">{{ result.FrameType }}</td>
                </tr>
                <tr>
                    <td class="static-col">Kleur:</td>
                    <td class="data-col">{{ result.Kleur }}</td>
                </tr>
                <tr>
                    <td class="static-col">Framenummer:</td>
                    <td class="data-col">{{ result.Framenummer }}</td>
                </tr>
                <tr>
                    <td class="static-col">Graveercode:</td>
                    <td class="data-col">{{ result.Gegraveerde_postcode }}</td>
                </tr>
                <tr>
                    <td class="static-col">Datum ingeschreven:</td>
                    {% if result.__tablename__ == 'fiets' %}
                    <td class="data-col">{{ result.Datum }}</td>
                    {% else %}
                    <td class="data-col">{{ result.Datum_aangemeld }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td class="static-col">Datum aangepast:</td>
                    <td class="data-col">{{ result.Datum_aangepast }}</td>
                </tr>
                <tr>
                    {% if result.__tablename__ == 'fiets' %}
                    <td class="static-col">Toegevoegd door:</td>
                    {% else %}
                    <td class="static-col">Verwijderd door:</td>
                    {% endif %}
                    <td class="data-col caps">{{ result.auteur.username }}</td>
                </tr>
                <tr>
                    <td class="static-col">Opmerkingen:</td>
                    <td class="data-col">{{ result.Opmerkingen }}</td>
                </tr>
            </table>

        </div>
            <!--
            <div class="btn-group">

                <button id="vorige-fiets"><</button>
                <button id="volgende-fiets">></button>

            </div>
            -->
            {% if current_user.is_authenticated %}
            <div class="btn-group">

                <button id="del" class="del" type="submit">&#xf1f8;</button>
                <form method="POST" action="{{url_for('edit_fiets', id=result.Nummer)}}">
                    <button class="edt" type="submit">&#xf044;</button>
                </form>
                <form method="POST" action="{{ url_for('generate_pdf', id=result.Nummer) }}" target="_blank">
                    <button class="pdf">&#xf02f;</button>
                </form>
            </div>
            {% endif %}



            <div id="simpleModal" class="modal">

                <div class="modal-content">
                    <div class="modal-header">
                        <span id="closeBtn" class="closeBtn">&times;</span>
                        <h2>Waarschuwing!</h2>
                    </div>
                    <div class="modal-body">
                        <p><strong>U staat op het punt deze fiets te verwijderen uit het systeem.</strong></p>
                        <p>Als deze fiets opgehaald wordt en u heeft nog geen formulier geprint,
                        klik dan eerst op "Print Formulier". De fiets wordt daarna automatisch verwijderd.
                        </p>

                    </div>
                    <div class="modal-footer">
                        <form method="POST" action="{{url_for('delete_fiets', id=result.Nummer)}}">
                        <button id="delete-btn">Verwijder</button>
                        </form>
                        <form method="POST" action="{{ url_for('generate_pdf', id=result.Nummer) }}" target="_blank">
                        <button id="print-btn">Print Formulier</button>
                        </form>
                        <button id="cancel-btn">Annuleren</button>
                    </div>

                </div>

            </div>


            <script>

                const delBtn = document.getElementById("del");
                const modal = document.getElementById("simpleModal");
                const closeBtn = document.getElementById("closeBtn");
                const cancelBtn = document.getElementById("cancel-btn");
                const printBtn = document.getElementById("print-btn");

                printBtn.addEventListener('click', function() {
                    setTimeout(function() {
                        let xhr = new XMLHttpRequest();
                        xhr.open("POST", "{{url_for('delete_fiets', id=result.Nummer)}}");
                        xhr.send();
                        window.location.replace("/overzicht")
                    }, 5000)
                })

                delBtn.addEventListener('click', function(event) {
                    event.preventDefault();
                    modal.style.display = 'block';
                });

                closeBtn.addEventListener('click', function() {
                   modal.style.display = 'none';
                });

                cancelBtn.addEventListener('click', function() {
                   modal.style.display = 'none';
                });

                window.addEventListener('click', function(e) {
                    if(e.target == modal) {
                        modal.style.display = 'none';
                    }
                });

            </script>



            <script>
                const backBtn = document.getElementById('back');

                backBtn.addEventListener('click', function() {
                    window.history.back();
                })

            </script>
    </div>
{% endblock %}