{% extends "header.html" %}

{% block body %}
<div class="wrapper">
<div class="bedrijfs-info">
  <h3>Kr8tig</h3>
  <ul>
    <li>Parallelweg 169</li>
    <li>+31 (0)6 - 16 44 37 68</li>
    <li>info@kr8tig.nl</li>
  </ul>
</div>
<div class="registratie">
  <h3>Registratieformulier</h3>
  <p id="error-message" style="color:#ff3a3a"></p>
  <form method="post" enctype=multipart/form-data action="{{ url_for('formulier') }}">
      {{ form.hidden_tag() }}
    <p>
      {{ form.fietsnummer.label }}
      {{ form.fietsnummer }}
    </p>

    <p>
      {{ form.merk.label }}
      {{ form.merk }}
    </p>

    <p>
      {{ form.frametype.label }}
      {{ form.frametype }}
    </p>

    <p>
      {{ form.kleur.label }}
      {{ form.kleur }}
    </p>

    <p>
      {{ form.framenummer.label }}
      {{ form.framenummer }}
    </p>

    <p>
      {{ form.gravpostcode.label }}
      {{ form.gravpostcode }}
    </p>

    <!--
    <p>
      <input type="file" accept="image/*" capture="user" name="photo">
    </p>
    -->

    <p class="full">
      <label for="opmerkingen">Opmerkingen <span id="word-count">200</span></label>
      {{ form.opmerkingen }}
    </p>

    <p class="full">
      {{ form.formBtn }}
    </p>


  </form>
</div>
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
