{% extends "header.html" %}

{% block body %}
<div class="wrapper">
<div class="bedrijfs-info">
  <h3>Kr8tig</h3>
  <ul>
    <li>Parallelweg 169</li>
    <li>+31 (0)6 - 16 44 37 68</li>
    <li>info@kr8tig.nl</li>
  </ul>
</div>
<div class="registratie">
  <h3>Registratieformulier</h3>
  <p id="error-message" style="color:#ff3a3a"></p>
  <form method="post" enctype=multipart/form-data action="{{ url_for('formulier') }}">
      {{ form.hidden_tag() }}
    <p>
      {{ form.fietsnummer.label }}
      {{ form.fietsnummer }}
    </p>

    <p>
      {{ form.merk.label }}
      {{ form.merk }}
    </p>

    <p>
      {{ form.frametype.label }}
      {{ form.frametype }}
    </p>

    <p>
      {{ form.kleur.label }}
      {{ form.kleur }}
    </p>

    <p>
      {{ form.framenummer.label }}
      {{ form.framenummer }}
    </p>

    <p>
      {{ form.gravpostcode.label }}
      {{ form.gravpostcode }}
    </p>

    <p class="full">
      <label for="opmerkingen">Opmerkingen <span id="word-count">200</span></label>
      {{ form.opmerkingen }}
    </p>

    <p>
      {{ form.imgdata }}
    </p>

    <div id="camera-info" class="camera-info">
        <p id="close-btn">&times;</p>
        <p id="err-msg">SVP scherm automatisch draaien aanzetten en het scherm kantelen om een foto te maken.</p>
    </div>

    <div class="toggle-btns">
        <i id="camera-toggle" class="fa fa-camera" aria-hidden="true"></i>
        <i id="file-upload" class="fa fa-folder-open" aria-hidden="true"></i>
    </div>

    <p id="debug-msg"></p>

    <div id="picture-capture" class="picture-capture full">
        <video class="full" style="width:100%;" id="player" controls autoplay></video>
        <button type="button" id="capture" class="full">Maak foto</button>
        <canvas class="full" id="canvas"></canvas>
    </div>

    <p class="full">
      <input id="image-upload" type="file" accept="image/*" capture="user" name="photo">
    </p>


        <script>
        const player = document.getElementById('player');
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');
        const captureButton = document.getElementById('capture');
        const imgData = document.getElementById('imgdata');
        const cameraTgl = document.getElementById('camera-toggle');
        const pictureCap = document.getElementById('picture-capture');
        const fileUpl = document.getElementById('file-upload');
        const imgUpl = document.getElementById('image-upload');
        const screenBanner = document.getElementById('camera-info');
        const debugMsg = document.getElementById("debug-msg");
        const errMsg = document.getElementById("err-msg");
        const closeBtn = document.getElementById("close-btn");
        var isCamHidden = true;
        var isFileHidden = true;
        var buttonState = false;


        window.screen.orientation.addEventListener('change', function() {

            if ( (window.screen.orientation.type === 'portrait-primary') && (buttonState) ) {
                screenBanner.style.display = 'block';
                debugMsg.innerHTML = window.screen.orientation.type + " if block " + buttonState;
            } else {
                screenBanner.style.display = 'none';
                debugMsg.innerHTML = window.screen.orientation.type + " else block " + buttonState;
            }
        });

        cameraTgl.addEventListener('click', function() {


            if (isCamHidden) {
                buttonState = true;
                if (window.matchMedia("(orientation: portrait)").matches) {
                    screenBanner.style.display = 'block';

                } else if (window.screen.width >= 700) {
                    screenBanner.style.display = 'block';

                } else {
                    screenBanner.style.display = 'none';
                }

                pictureCap.style.display = 'block';
                isCamHidden = false;

                const constraints = {
                    audio: false,
                    video: {
                        facingMode: { exact: "environment" },
                        width: 1280,
                        height: 720
                    }
                };

                navigator.mediaDevices.getUserMedia(constraints)
                .then((stream) => {
                    player.srcObject = stream;
                    player.src = (window.URL || window.webkitURL).createObjectURL(stream);
                }).catch((err) => {
                    // alert("Er is geen camera gevonden! Controleer de camera aansluiting.");
                    pictureCap.style.display = 'none';
                    isCamHidden = true;
                    if (err.name === "DevicesNotFoundError") {
                        errMsg.innerHTML = "Uw browser ondersteund de camera functie niet of er is geen camera aangetroffen. Controleer de verbinding met uw camera of gebruik een andere browser (Google Chrome/FireFox)";
                    } else if (err.name === "NotSupportedError") {
                        errMsg.innerHTML = "De camera functie is niet toegankelijk vanaf een onbeveiligde verbinding. Controleer of u verbonden bent met een https verbinding. <a href='https://fietsfoetsie.pythonanywhere.com/formulier'>https://fietsfoetsie.pythonanywhere.com/formulier</a>)";
                    } else {
                        alert("Onbekende error: " + err.name  + ". Neem contact op met de site beheerder.")
                    }

                })

            } else {

                player.srcObject.getVideoTracks().forEach(track => track.stop());
                pictureCap.style.display = 'none';
                screenBanner.style.display = 'none';
                isCamHidden = true;
                buttonState = false;
            }
        })

        fileUpl.addEventListener('click', function() {

            if (isFileHidden){
                imgUpl.style.display = 'block';
                isFileHidden = false;

            } else {
                imgUpl.style.display = 'none';
                isFileHidden = true;
            }
        })


        captureButton.addEventListener('click', function() {

            if (window.matchMedia("(orientation: portrait)").matches) {
                canvas.width = 285;
                canvas.height = 520;
            } else {
                canvas.width = 520;
                canvas.height = 285;
            }
            context.drawImage(player, 0, 0, canvas.width, canvas.height);

            // Stop all video streams.
            player.srcObject.getVideoTracks().forEach(track => track.stop());
            imgData.value = canvas.toDataURL();
        });

        closeBtn.addEventListener('click', function() {
            screenBanner.style.display = "none";
        })
    </script>

    <p class="full">
      {{ form.formBtn }}
    </p>

  </form>
</div>
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
