{% extends "header.html" %}

{% block body %}
<div class="wrapper">
<div class="bedrijfs-info">
  <h3>Kr8tig</h3>
  <ul>
    <li>Parallelweg 169</li>
    <li>+31 (0)6 - 16 44 37 68</li>
    <li>info@kr8tig.nl</li>
  </ul>
</div>
<div class="registratie">
  <h3>Registratieformulier</h3>
  <p id="error-message" style="color:#ff3a3a"></p>
  <form method="post" enctype=multipart/form-data action="{{ url_for('formulier') }}">
      {{ form.hidden_tag() }}
    <p>
      {{ form.fietsnummer.label }}
      {{ form.fietsnummer }}
    </p>

    <p>
      {{ form.merk.label }}
      {{ form.merk(list="merk-lijst", autofocus=true) }}
      <datalist id="merk-lijst">
          <option value="Gazelle">
          <option value="Batavus">
          <option value="Sparta">
          <option value="Giant">
          <option value="Twico">
      </datalist>
    </p>

    <p>
      {{ form.frametype.label }}
      {{ form.frametype(list="frametype-lijst") }}
      <datalist id="frametype-lijst">
          <option value="Heren">
          <option value="Dames">
          <option value="Oma">
          <option value="Mountainbike">
          <option value="Kinder">
      </datalist>
    </p>

    <p>
      {{ form.kleur.label }}
      {{ form.kleur(list="kleur-lijst") }}
      <datalist id="kleur-lijst">
          <option value="Zwart">
          <option value="Wit">
          <option value="Grijs">
          <option value="Zilver">
          <option value="Rood">
          <option value="Geel">
          <option value="Groen">
          <option value="Oranje">
          <option value="Blauw">
          <option value="Paars">
      </datalist>
    </p>

    <p>
      {{ form.framenummer.label }}
      {{ form.framenummer }}
    </p>

    <p>
      {{ form.gravpostcode.label }}
      {{ form.gravpostcode }}
    </p>

    <p class="full">
      <label for="opmerkingen">Opmerkingen <span id="word-count">200</span></label>
      {{ form.opmerkingen }}
    </p>

    <p>
      {{ form.imgdata }}
    </p>

    <div id="camera-info" class="camera-info">
        <p id="close-btn">&times;</p>
        <p id="err-msg">SVP scherm automatisch draaien aanzetten en het scherm kantelen om een foto te maken.</p>
    </div>

    <div class="toggle-btns">
        <i id="camera-toggle" class="fa fa-camera" aria-hidden="true" onclick="getStream()"></i>
        <i id="file-upload" class="fa fa-folder-open" aria-hidden="true"></i>
    </div>

    <p id="debug-msg"></p>

    <div id="picture-capture" class="picture-capture full">
        <!--

        <p><video autoplay style="width:100%;" class="full" onclick="takePhoto()"></video></p>
        <button type="button" id="capture" class="full" onclick="takePhoto()">Maak foto</button>
        <p><img id="imageTag" style="width:100%; height:360px" class="full"></p>
        -->


        <video autoplay class="full" style="width:100%;" id="player"></video>
        <button type="button" id="capture" class="full">Maak foto</button>
        <canvas class="full" id="canvas"></canvas>

    </div>

    <p class="full">
      <input id="image-upload" type="file" accept="image/*" capture="user" name="photo">
    </p>


        <script>
        const player = document.getElementById('player');
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');
        const captureButton = document.getElementById('capture');
        const imgData = document.getElementById('imgdata');
        const cameraTgl = document.getElementById('camera-toggle');
        const pictureCap = document.getElementById('picture-capture');
        const fileUpl = document.getElementById('file-upload');
        const imgUpl = document.getElementById('image-upload');
        const screenBanner = document.getElementById('camera-info');
        const debugMsg = document.getElementById("debug-msg");
        const errMsg = document.getElementById("err-msg");
        const closeBtn = document.getElementById("close-btn");
        var mediaControl = document.querySelector('video');
        var isCamHidden = true;
        var isFileHidden = true;
        var buttonState = false;


        window.screen.orientation.addEventListener('change', function() {

            if ( (window.screen.orientation.type === 'portrait-primary') && (buttonState) ) {
                screenBanner.style.display = 'block';
                //debugMsg.innerHTML = window.screen.orientation.type + " if block " + buttonState;
            } else {
                screenBanner.style.display = 'none';
                //debugMsg.innerHTML = window.screen.orientation.type + " else block " + buttonState;
            }
        });


        cameraTgl.addEventListener('click', function() {


            if (isCamHidden) {
                buttonState = true;
                if (window.matchMedia("(orientation: portrait)").matches) {
                    screenBanner.style.display = 'block';

                } else if (window.screen.width >= 700) {
                    screenBanner.style.display = 'block';

                } else {
                    screenBanner.style.display = 'none';
                }

                pictureCap.style.display = 'block';
                isCamHidden = false;





                const constraints = {
                    audio: false,
                    video: {
                        facingMode: { exact: "environment" },
                        width: 1280,
                        height: 720
                    }
                };

                navigator.mediaDevices.getUserMedia(constraints)
                .then((stream) => {
                    player.srcObject = stream;
                    player.src = (window.URL || window.webkitURL).createObjectURL(stream);
                }).catch((err) => {
                    // alert("Er is geen camera gevonden! Controleer de camera aansluiting.");
                    pictureCap.style.display = 'none';
                    isCamHidden = true;
                    if (err.name === "DevicesNotFoundError") {
                        errMsg.innerHTML = "Uw browser ondersteund de camera functie niet of er is geen camera aangetroffen. Controleer de verbinding met uw camera of gebruik een andere browser (Google Chrome/FireFox)";
                    } else if (err.name === "NotSupportedError") {
                        errMsg.innerHTML = "De camera functie is niet toegankelijk vanaf een onbeveiligde verbinding. Controleer of u verbonden bent met een https verbinding. <a href='https://fietsfoetsie.pythonanywhere.com/formulier'>https://fietsfoetsie.pythonanywhere.com/formulier</a>)";
                    } else {
                        alert("Onbekende error: " + err.name  + ". Neem contact op met de site beheerder.")
                    }

                })


            } else {

                player.srcObject.getVideoTracks().forEach(track => track.stop());
                pictureCap.style.display = 'none';
                screenBanner.style.display = 'none';
                isCamHidden = true;
                buttonState = false;
            }
        })

        /*
        function getUserMedia(options, successCallback, failureCallback) {
          if (isCamHidden) {
            buttonState = true;
            if (window.matchMedia("(orientation: portrait)").matches) {
                screenBanner.style.display = 'block';

            } else if (window.screen.width >= 700) {
                screenBanner.style.display = 'block';

            } else {
                screenBanner.style.display = 'none';
            }

            pictureCap.style.display = 'block';
            isCamHidden = false;

            } else {

                //mediaControl.srcObject.getVideoTracks().forEach(track => track.stop());
                pictureCap.style.display = 'none';
                screenBanner.style.display = 'none';
                isCamHidden = true;
                buttonState = false;
            }

          var api = navigator.getUserMedia || navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia || navigator.msGetUserMedia;
          if (api) {
            return api.bind(navigator)(options, successCallback, failureCallback);
          }
          alert('User Media API not supported.');
        }


        var theStream;

        function getStream() {
          const constraints = {
                            audio: false,
                            video: {
                                facingMode: { exact: "environment" },
                                width: 1280,
                                height: 720
                            }
                        };

          getUserMedia(constraints, function(stream) {
            var mediaControl = document.querySelector('video');
            if (navigator.mozGetUserMedia) {
              mediaControl.mozSrcObject = stream;
            } else {
              mediaControl.srcObject = stream;
              mediaControl.src = (window.URL || window.webkitURL).createObjectURL(stream);
            }
            theStream = stream;
          }, function(err) {
            alert('Error: ' + err);
          });
        }

        function takePhoto() {
          if (!('ImageCapture' in window)) {
            alert('ImageCapture is not available');
          }

          var theImageCapturer = new ImageCapture(theStream.getVideoTracks()[0]);


          theImageCapturer.takePhoto()
            .then(blob => {
              var theImageTag = document.getElementById("imageTag");
              var a = new FileReader();
              theImageTag.src = URL.createObjectURL(blob);
              //imgData.value = theImageTag.src
              debugMsg.innerHTML = a.readAsDataURL(blob)
            })
            .catch(err => alert('Error: ' + err));

        }
        */

        fileUpl.addEventListener('click', function() {

            if (isFileHidden){
                imgUpl.style.display = 'block';
                isFileHidden = false;

            } else {
                imgUpl.style.display = 'none';
                isFileHidden = true;
            }
        })


        captureButton.addEventListener('click', function() {

            if (window.matchMedia("(orientation: portrait)").matches) {
                canvas.width = 285;
                canvas.height = 520;
            } else {
                canvas.width = 520;
                canvas.height = 285;
            }
            context.drawImage(player, 0, 0, canvas.width, canvas.height);

            // Stop all video streams.
            player.srcObject.getVideoTracks().forEach(track => track.stop());
            imgData.value = canvas.toDataURL();
        });


        screenBanner.addEventListener('click', function() {
            screenBanner.style.display = "none";
        })
    </script>

    <p class="full">
      {{ form.formBtn }}
    </p>

  </form>
</div>
</div>
<script>
    var errorMsg = document.getElementById("error-message");
    var wordCount = document.getElementById("word-count")


    opmerkingen.addEventListener('keyup', function() {
      if (opmerkingen.value.length <= 200) {
        wordCount.innerHTML = 200 - opmerkingen.value.length;
      }
    })
</script>
{% endblock %}
