<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-bigscreen.css') }}" media="(min-width: 700px)">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
  {% if title %}
  <title>{{ title }} | FietsFoetsie</title>
  {% else %}
  <title>FietsFoetsie</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.js"></script>
  {% endif %}
  <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/apple-icon-57x57.png') }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/apple-icon-60x60.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/apple-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/apple-icon-76x76.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/apple-icon-114x114.png') }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/apple-icon-120x120.png') }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/apple-icon-144x144.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/apple-icon-152x152.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-icon-180x180.png') }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='img/android-icon-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favicon-96x96.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='img/manifest.json') }}">
  <meta name="msapplication-TileColor" content="#92bde7">
  <meta name="msapplication-TileImage" content="{{ url_for('static', filename='img/ms-icon-144x144.png') }}">
  <meta name="theme-color" content="#92bde7">
</head>
<body>

  <div class="container">
    <div class="header-wrapper">
      <div class="header">
        <h1 class="brand"><a href="/"><span>Fiets</span>Foetsie<span>?</span></a></h1>
        <!--<a href="/"><img src="{{ url_for('static', filename='img/fietsfoetsie.png') }}"</></a>-->
      </div>
      <div class="navbar">
        <div class="navbar-desktop">
            {% if current_user.is_authenticated %}
            <a href="/formulier"><strong><p>Registratie</p></strong></a>
            {% endif %}
            <a href="/zoeken"><strong><p>Actueel</p></strong></a>
            <a href="/verwijderd"><strong><p>Verwijderd</p></strong></a>
            <a href="/overzicht/1"><strong><p>Overzicht</p></strong></a>
            {% if current_user.is_authenticated %}
            <a href="/logout"><strong><p>Loguit</p></strong></a>
            {% else %}
            <a href="/login"><strong><p>Login</p></strong></a>
            {% endif %}
        </div>
        <div class="dropdown">
        <i id="dropdown-btn" class="fa fa-bars" aria-hidden="true"></i>
            <div id="dropdown-content" class="navbar-content">
                {% if current_user.is_authenticated %}
                <a href="/formulier"><strong><p>Registratie</p></strong></a>
                {% endif %}
                <a href="/zoeken"><strong><p>Actueel</p></strong></a>
                <a href="/verwijderd"><strong><p>Verwijderd</p></strong></a>
                <a href="/overzicht/1"><strong><p>Overzicht</p></strong></a>
                <hr>
                {% if current_user.is_authenticated %}
                <a href="/logout"><strong><p>Loguit</p></strong></a>
                {% else %}
                <a href="/login"><strong><p>Login</p></strong></a>
                {% endif %}
            </div>
        </div>
      </div>
    </div>
    <div id="status" class="no-connection">
          <p id="close-btn">&times;</p>
          <p>&#x26A0; Geen internet connectie. Fietsen die u nu toevoegd worden lokaal opgeslagen en kunnen verwerkt worden zodra u weer online bent! U kunt geen fietsen aanpassen of verwijderen.</p>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li onclick="this.parentElement.removeChild(this)" class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


    {% block body %}{% endblock %}

  </div>

  <div id="cookie-banner" class="cookie-banner">
    <p id="err-msg">
    Deze site maakt gebruik van cookies. De cookies worden uitsluitend gebruikt voor
    het bijhouden van uw login sessies. Er worden geen persoonlijke gegevens opgeslagen.
    </p>
    <button id="gezien">Ik snap het</button>
  </div>

<script>

    const dropBtn = document.getElementById('dropdown-btn');

    dropBtn.addEventListener('click', function() {
        document.getElementById('dropdown-content').classList.toggle('show');
    })

    window.onlick = function(e) {
        if (!e.target.matches('.dropdown-btn')) {
            var dropCont = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropCont.length; i++) {
                var openDropdown = dropCont[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

</script>

<script>

    const statusMsg = document.getElementById('status');
    const closeBtn2 = document.getElementById('close-btn');

    statusMsg.style.display = navigator.onLine ? 'none' : 'block';

    window.addEventListener('online', function() {
        statusMsg.style.display = 'none';
    })

    window.addEventListener('offline', function() {
        statusMsg.style.display = 'block';
    })

    closeBtn2.addEventListener('click', function() {
        statusMsg.style.display = "none";
    });

</script>

<script type="text/javascript">
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register("/../sw.js").then(function(registration) {
                // Registration was successful
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
                // registration failed :(
                console.log('ServiceWorker registration failed: ', err);
            });
        });
    }
</script>

<script>

    const settings = {
        cookieSeen:false,
    };
    const cookieBanner = document.getElementById('cookie-banner');
    const gezienBtn = document.getElementById('gezien');

    if (!localStorage.getItem('settings')) {
        localStorage.setItem('settings', JSON.stringify(settings));
        cookieBanner.style.display = window.innerWidth >= 700 ? 'grid' : 'block';
    } else if (JSON.parse(localStorage.getItem('settings')).cookieSeen === false) {
        cookieBanner.style.display = window.innerWidth >= 700 ? 'grid' : 'block';
    } else {
        cookieBanner.style.display = 'none';
    }


    gezienBtn.addEventListener('click', function() {
        setting = JSON.parse(localStorage.getItem('settings'));
        setting.cookieSeen = true;
        localStorage.setItem('settings', JSON.stringify(setting));
        cookieBanner.style.display = 'none'
    })

</script>

</body>

</html>
