{% extends "header.html" %}

{% block body %}
  <div class="form-wrapper">

    <a href="/formulier"><div class="items">
      <h1>Registratie</h1>
      <i class="fa fa-pencil desktop" aria-hidden="true"></i>
    </div></a>

    <a href="/overzicht"><div class="items">
      <h1>Overzicht</h1>
      <i class="fa fa-th-list desktop" aria-hidden="true"></i>
    </div></a>

    <a href="/zoeken"><div class="items">
      <h1>Zoeken</h1>
      <i class="fa fa-search desktop" aria-hidden="true"></i>
    </div></a>

  </div>

  <div class="dashboard-wrapper mobile">
      <h1 id="dash-head">Dashboard</h1>
      <div class="dashboard-content">

          <div class="dashboard-item recent">
              {% if vandaag|length > 0 %}
              <h2>Vandaag toegevoegd</h2>
              <table>
                  <tr>
                      <th>Nummer</th>
                      <th>Merk</th>
                      <th>Frametype</th>
                      <th>Kleur</th>
                      <th>Datum</th>
                      <th></th>
                  </tr>
                  {% for v in vandaag %}
                  <tr>
                      <td>{{ v.Nummer }}</td>
                      <td>{{ v.Merk }}</td>
                      <td>{{ v.FrameType }}</td>
                      <td>{{ v.Kleur }}</td>
                      <td>{{ v.Datum }}</td>
                      <td>
                        <form method="POST" action="{{url_for('delete_fiets', id=v.Nummer)}}">
                            <input id="submit-btn" type="submit" value="&#xf014;">
                        </form>
                      </td>
                  </tr>
                  {% endfor %}
              </table>
              {% else %}
               <h2>Vandaag toegevoegd</h2>
              <table>
                  <tr>
                      <th>Nummer</th>
                      <th>Merk</th>
                      <th>Frametype</th>
                      <th>Kleur</th>
                      <th>Datum</th>
                      <th></th>
                  </tr>
              </table>
              <h4>Er zijn vandaag geen fietsen toegoevoegd!</h4>
              {% endif %}

          </div>

          <div class="dashboard-item overschreden">
              {% if overschreden|length > 0 %}
              <h2>Datum overschreden <img src="/static/img/warning.gif" alt="waarschuwing"/></h2>
              <table>
                  <tr>
                      <th>Nummer</th>
                      <th>Merk</th>
                      <th>Frametype</th>
                      <th>Kleur</th>
                      <th>Datum</th>
                      <th></th>
                  </tr>
                  {% for o in overschreden %}
                  <tr>
                      <td>{{ o.Nummer }}</td>
                      <td>{{ o.Merk }}</td>
                      <td>{{ o.FrameType }}</td>
                      <td>{{ o.Kleur }}</td>
                      <td>{{ o.Datum }}</td>
                      <td>
                        <form method="POST" action="{{url_for('delete_fiets', id=o.Nummer)}}">
                            <input id="submit-btn" type="submit" value="&#xf014;">
                        </form>
                      </td>
                  </tr>
                  {% endfor %}
              </table>
              {% else %}
              <h2>Datum overschreden</h2>
              <table>
                  <tr>
                      <th>Nummer</th>
                      <th>Merk</th>
                      <th>Frametype</th>
                      <th>Kleur</th>
                      <th>Datum</th>
                      <th></th>
                  </tr>
              </table>
              <h4>Er staan geen fietsen langer dan 3 maanden!</h4>
              {% endif %}
          </div>
      </div>

      <h1>Grafiek</h1>
      <div class="dashboard-graph">
        <canvas id="myChart" width="200" height="200"></canvas>
        <script>
        var graphdata = JSON.parse('{{graph_json|safe}}');
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: Object.keys(graphdata),
                datasets: [{
                    label: 'Aantal fietsen deze week',
                    data: Object.values(graphdata),
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',

                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',

                    ],
                    fill:false,
                    lineTension:0,
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        </script>
      </div>
  </div>


{% endblock %}
