{% extends "header.html" %}

{% block body %}
  <div class="form-wrapper">

    <a href="/formulier"><div class="items">
      <h1>Registratie</h1>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </div></a>

    <a href="/overzicht"><div class="items">
      <h1>Overzicht</h1>
      <i class="fa fa-th-list" aria-hidden="true"></i>
    </div></a>

    <a href="/zoeken"><div class="items">
      <h1>Zoeken</h1>
      <i class="fa fa-search" aria-hidden="true"></i>
    </div></a>

  </div>

  <script>
    if ('serviceWorker' in navigator) {
  window.addEventListener('load', function() {
    navigator.serviceWorker.register('/service-worker.js', {scope: './'}).then(function(registration) {
      // Registration was successful
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    }, function(err) {
      // registration failed :(
      console.log('ServiceWorker registration failed: ', err);
    });
  });
}
</script>

{% endblock %}
