{% extends "header.html" %}

{% block body %}

<div class="login-form">

  <h3>Login</h3>
  <p id="error-message" style="color:#ff3a3a"></p>
  <form method="post" action="{{ url_for('login') }}">
      {{ form.hidden_tag() }}
    <p>
      {{ form.gebruikersnaam.label }}
      {{ form.gebruikersnaam }}
    </p>

    <p>
      {{ form.wachtwoord.label }}
      {{ form.wachtwoord }}
    </p>

    <p class="full">
      {{ form.onthoudme.label }}
      {{ form.onthoudme }}
    </p>

    <p class="full">
      {{ form.loginBtn }}
    </p>
  </form>

</div>

{% endblock %}
