{% extends "header.html" %}

{% block body %}

<table>
  <tr>
    <th>Nummer</th>
    <th>Merk</th>
    <th>Frametype</th>
    <th>Kleur</th>
    <th class="mobile">Framenummer</th>
    <th class="mobile">Datum</th>
    <th style="display:none" class="mobile">Opmerkingen</th>
    <th class="mobile"></th>
    <th></th>
  </tr>

  {% for r in result %}
  <tr class="table-data">
    <td>{{ r.Nummer }}</td>
    <td>{{ r.Merk }}</td>
    <td>{{ r.FrameType }}</td>
    <td>{{ r.Kleur }}</td>
    <td class="mobile">{{ r.Framenummer }}</td>
    <td class="mobile">{{ r.Datum }}</td>
    <td style="display:none" class="mobile">{{ r.Opmerkingen }}</td>
    <td class="mobile">
        <form method="POST" action="{{url_for('edit_page', id=r.Nummer)}}">
            <input id="submit-btn2" type="submit" value="&#xf044;">
        </form>
    </td>
    <td>
        <form method="POST" action="{{url_for('delete_fiets', id=r.Nummer)}}">
            <input id="submit-btn" type="submit" value="&#xf014;">
        </form>
    </td>
  </tr>
  {% endfor %}
</table>

<div id="simpleModal" class="modal">

    <div class="modal-content">
        <div class="modal-header">
            <span id="closeBtn" class="closeBtn">&times;</span>
            <h2>Fiets data</h2>
        </div>
        <div class="modal-list-wrapper">
            <ul id="modal-list-items">
                <li>Nummer:</li>
                <li>Merk:</li>
                <li>Frametype:</li>
                <li>Kleur:</li>
                <li>Framenummer:</li>
                <li>Datum:</li>
                <li>Opmerkingen:</li>
            </ul>

            <ul id="modal-list">

            </ul>
        </div>
    </div>

</div>

<script>

    var elems = document.querySelectorAll("tr.table-data");
    var modal = document.getElementById("simpleModal");
    var closeBtn = document.getElementById("closeBtn");
    var modalList = document.getElementById("modal-list");
    var submitBtn = document.getElementById("submit-btn");
    var editBtn = document.getElementById("submit-btn2");

    elems.forEach(function(elem) {
		elem.addEventListener('click', function() {
			var rowCells = elem.getElementsByTagName('td');
            for(let e = 0; e <= 6; e++){
			    let t = document.createTextNode(rowCells[e].innerHTML);
			    let li = document.createElement("li");

			    li.appendChild(t);
			    modalList.appendChild(li);
			}
			modal.style.display = 'block';
        });
    });

    closeBtn.addEventListener('click', function() {
       modal.style.display = 'none';
       while(modalList.firstChild) {
            modalList.removeChild( modalList.firstChild );
       }
    });

    window.addEventListener('click', function(e) {
        if( (e.target == modal) || (e.target == submitBtn) || (e.target == editBtn)) {
            modal.style.display = 'none';
            while(modalList.firstChild) {
                modalList.removeChild( modalList.firstChild );
            }
        }
    });

    submitBtn.addEventListener('click', function(e) {
        keuze = confirm("Weet u zeker dat u deze fiets wil verwijderen?");
        if (keuze) {
            return true;
        } else {
            e.preventDefault();
        }
    })

</script>

{% endblock %}
