{% extends "header.html" %}

{% block body %}

<table style="text-align:center; margin:auto;">
    <tr>
        <td>Z: </td>
        <td style="text-align:center" id="right"></td>
    </tr>
    <tr>
        <td>X: </td>
        <td style="text-align:center" id="left"></td>
    </tr>
    <tr>
        <td>Y: </td>
        <td style="text-align:center" id="graden"></td>
    </tr>
</table>
<img style="height:auto; width:100%;"src="{{ url_for('static', filename='img/fietsfoetsie.png') }}" id="img-logo"/>

<script>
    window.addEventListener('deviceorientation', deviceOrientationHandler, false);


    function deviceOrientationHandler(e) {
        var tiltLR = e.gamma;
        var tiltFB = e.beta;
        var dir = e.alpha;
        var logo = document.getElementById('img-logo');

        document.getElementById('left').innerHTML = Math.round(tiltLR);
        document.getElementById('right').innerHTML = Math.round(tiltFB);
        document.getElementById('graden').innerHTML = Math.round(dir);

        logo.style.transform = "rotate(" + tiltLR + "deg) rotate3d(1,0,0, " + (tiltFB * -1) + "deg)";
    }



</script>

<!--

<p id="test"></p>
<p id="hidden-test"></p>
<button id="tgl-orient">Klik</button>

<script>

    var testPar = document.getElementById('test');
    var hiddenPar = document.getElementById('hidden-test');
    var tglBtn = document.getElementById('tgl-orient');

    var isCamHidden = true;

    /*
    window.screen.orientation.addEventListener('change', function(){
        var isPortrait = window.matchMedia("(orientation: portrait)").matches;
        if (isPortrait) {
            hiddenPar.style.display = 'block';
            testPar.innerHTML = isPortrait + " if block " + window.screen.orientation.type;
        } else {
            hiddenPar.style.display = 'block';
            testPar.innerHTML = isPortrait + " else block " + window.screen.orientation.type;
        }
    });
    */

    tglBtn.addEventListener('click', function(){
        testPar.innerHTML = window.screen.orientation.type;
        hiddenPar.innerHTML = window.matchMedia("(orientation: portrait)").matches;
    })

</script>



<p><button class="btn btn-lg btn-primary" onclick="getStream()">Grab video</button></p>
<p><video autoplay style="width:100%;" class="full"></video></p>
<p><button class="btn btn-lg btn-primary" onclick="takePhoto()">Take Photo!</button></p>
<p><img id="imageTag" style="width:100%; height:360px" class="full"></p>

<script>
function getUserMedia(options, successCallback, failureCallback) {
  var api = navigator.getUserMedia || navigator.webkitGetUserMedia ||
    navigator.mozGetUserMedia || navigator.msGetUserMedia;
  if (api) {
    return api.bind(navigator)(options, successCallback, failureCallback);
  }
  alert('User Media API not supported.');
}

var theStream;

function getStream() {
  const constraints = {
                    audio: false,
                    video: {
                        facingMode: { exact: "environment" },
                        width: 1280,
                        height: 720
                    }
                };

  getUserMedia(constraints, function(stream) {
    var mediaControl = document.querySelector('video');
    if (navigator.mozGetUserMedia) {
      mediaControl.mozSrcObject = stream;
    } else {
      mediaControl.srcObject = stream;
      mediaControl.src = (window.URL || window.webkitURL).createObjectURL(stream);
    }
    theStream = stream;
  }, function(err) {
    alert('Error: ' + err);
  });
}

function takePhoto() {
  if (!('ImageCapture' in window)) {
    alert('ImageCapture is not available');
  }

  var theImageCapturer = new ImageCapture(theStream.getVideoTracks()[0]);

  theImageCapturer.takePhoto()
    .then(blob => {
      var theImageTag = document.getElementById("imageTag");
      theImageTag.src = URL.createObjectURL(blob);
    })
    .catch(err => alert('Error: ' + err));
}

</script>
<!--

<p>Batterij percentage: <span id="bat-stat">0</span></p>
<p>Batterij aan het opladen: <span id="charge">0</span></p>

<i id="bat-icon" class="fa" aria-hidden="true"></i>

<script>

    var batPromise = navigator.getBattery();
    var batStat = document.getElementById('bat-stat');
    var isCharging = document.getElementById('charge');
    const batIcon = document.getElementById('bat-icon');

    batPromise.then(function(battery) {
        batPerc = battery.level * 100;
        batStat.innerHTML = batPerc;
        isCharging.innerHTML = battery.charging ? 'Ja' : 'Nee';
        if (batPerc === 0) {
            batIcon.classList.remove(batIcon.classList.value);
            batIcon.classList.add("fa", "fa-battery-empty");
        } else if ((batPerc > 0) && (batPerc <= 25)) {
            batIcon.classList.remove(batIcon.classList.value);
            batIcon.classList.add("fa", "fa-battery-quarter");
        } else if ((batPerc > 25) && (batPerc <= 50)) {
            batIcon.classList.remove(batIcon.classList.value);
            batIcon.classList.add("fa", "fa-battery-half");
        } else if ((batPerc > 50) && (batPerc <= 75)) {
            batIcon.classList.remove(batIcon.classList.value);
            batIcon.classList.add("fa", "fa-battery-three-quarters");
        } else {
            batIcon.classList.remove(batIcon.classList.value);
            batIcon.classList.add("fa", "fa-battery-full");
        }
    })

</script>
-->

{% endblock %}