{% extends "header.html" %}

{% block body %}
<div class="select-row">
    <form method="POST">
        {{ form.Merk(placeholder="merk") }}
        {{ form.FrameType(placeholder="frametype") }}
        {{ form.Kleur(placeholder="kleur") }}
        {{ form.Datum(type="date") }}
        <input type="submit" value="Zoeken">
    </form>
</div>
<table>
  <tr>
    <th>Nummer</th>
    <th>Merk</th>
    <th>Frametype</th>
    <th>Kleur</th>
    <th class="mobile">Framenummer</th>
    <th class="mobile">Opmerkingen</th>
    <th class="mobile">Datum</th>
    <th></th>
  </tr>

  {% for r in result %}
  <tr class="table-data">
    <td>{{ r.Nummer }}</td>
    <td>{{ r.Merk }}</td>
    <td>{{ r.FrameType }}</td>
    <td>{{ r.Kleur }}</td>
    <td class="mobile">{{ r.Framenummer }}</td>
    <td class="mobile">{{ r.Opmerkingen }}</td>
    <td class="mobile">{{ r.Datum }}</td>
    <td>
        <form method="POST" action="{{url_for('delete_fiets', id=r.Nummer)}}">
            <input id="submit-btn" type="submit" value="x">
        </form>
    </td>
  </tr>
  {% endfor %}
</table>

<div id="simpleModal" class="modal">

    <div class="modal-content">
        <span id="closeBtn" class="closeBtn">&times;</span>
        <ul id="modal-list">

        </ul>
    </div>

</div>

<script>

    var elems = document.querySelectorAll("tr.table-data");
    var modal = document.getElementById("simpleModal");
    var closeBtn = document.getElementById("closeBtn");
    var modalList = document.getElementById("modal-list");
    var submitBtn = document.getElementById("submit-btn");

    elems.forEach(function(elem) {
		elem.addEventListener('click', function() {
			var rowCells = elem.getElementsByTagName('td');
            for(let e = 0; e <= 6; e++){
			    let t = document.createTextNode(rowCells[e].innerHTML);
			    let li = document.createElement("li");

			    li.appendChild(t);
			    modalList.appendChild(li);
			}
			modal.style.display = 'block';
        });
    });

    closeBtn.addEventListener('click', function() {
       modal.style.display = 'none';
       while(modalList.firstChild) {
            modalList.removeChild( modalList.firstChild );
       }
    });

    window.addEventListener('click', function(e) {
        if( (e.target == modal) || (e.target == submitBtn)){
            modal.style.display = 'none';
            while(modalList.firstChild) {
                modalList.removeChild( modalList.firstChild );
            }
        }
    });

</script>

{% endblock %}
